@font-face {
    font-family: 'FutuRegu';
    src: url('../public/futurice-font/futurice-regular.otf');
}

html {
    font-size: 14px;
    box-sizing: border-box;
}
body {
    font-family: 'FutuRegu', Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    color: #46289A;
}

.jolts-counts {
    display: flex;
    justify-content: space-between;
}

.jolts-count {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: .5rem 1vw;
    padding: 2vw;
    width: 30vw;
    width: 30vw;
}

.jolts-count__hero-number {
    text-align: center;
    font-size: 10rem;
}

.jolts-count__hero-text {
    font-size: 2rem;
    text-align: center;
}

.jolts-count__history:first-of-type {
    margin-top: 1.5rem;
}
.jolts-count__history {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    margin-right: 12rem;
}

.munich-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 4vh 2vw;
}

.munich-logo__image {
    width: 8vw;
}

.jolts-header {
    font-size: 1.3rem;
    margin-top: 3rem;
    margin-left: 3vw;
}

.jolt-messages {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: space-between;
    width: 100vw;
}

.jolt-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5rem 1vw;
    padding: 2vw;
    width: 19vw;
}

.jolt-in-message {
    text-transform: uppercase;
    animation: pulse 4s infinite;
    padding: .2rem .2rem .1rem;
}

@keyframes pulse {
    0%, 50%, 100% {
        background-color: #FFF;
        color: #46289A;
    }
    25% {
        background-color: #46289A;
        color: #FFF;
    }
}

.jolt-content {
    margin-bottom: .5rem;
    overflow: hidden;
    word-break: break-all;
}

.jolt-details {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.jolt-user {
    font-size: .7rem;
}

.jolt-user__img {
    border-radius: 50%;
    margin-right: .5rem;
    vertical-align: middle;
}

.jolt-sent {
    font-size: .7rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.no-jolts {
    width: 100vw;
    text-align: center;
    font-size: 4rem;
}
